<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block css%}
    <link rel="stylesheet" href="{% static 'myupload/css/bootstrap.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'myupload/css/bootstrap.theme.css' %}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'myupload/css/index.css' %}" type="text/css" media="all" />
    {%endblock%}
    <title>Maquette</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "upload.views.home" %}">MyUpload</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url "upload.views.home" %}">Accueil</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url "upload.views.documents" user.profil.mainDocument_id  %}">Mes documents</a></li>
        {%endif%}
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Recherche...">
        </div>
        <button type="submit" class="btn btn-default">Go !</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_superuser %}
       <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Upload</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Utilisateurs</a></li>
          </ul>
        </li>
        {%endif%}
        {% if user.is_authenticated == False %}
            <li><a href="{% url "user.views.inscription" %}">Inscription</a></li>
            <li><a href="{% url "django.contrib.auth.views.login" %}">Connexion</a></li>
        {%else%}
            <li><a href="#">
                {{user.username|title}}
            </a></li>
            <li><a href="{% url "user.views.deconnexion" %}">Déconnexion</a></li>
        {%endif%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   <div class="main-container container-fluid">
        {% block content %}
        {%endblock%}
   </div>
{% block javascripts %}
    <script src="{% static 'myupload/js/jquery2.1.4.js' %}"></script>
    <script src="{% static 'myupload/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'upload/js/blur-button.js' %}"></script>
{%endblock%}
</body>
</html>

